@media (max-width: 1300px) {
  .mainblock__content .user-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 1220px) {
  .wrapper .man-image {
    bottom: -3%;
    right: 0;
  }
  .wrapper .woman-image {
    left: -15%;
  }
  .wrapper .fog-image {
    left: -20%;
    bottom: -20%;
  }
  .wrapper .container h1 {
    margin: 100px auto 180px;
  }
}
@media (max-width: 1036px) {
  .mainblock .sidebar {
    width: 66px;
    padding: 5px;
  }
  .mainblock .sidebar nav {
    margin: 0px 0px 0px 0px;
  }
  .mainblock .sidebar__logo {
    margin: 0px 0px 30px 0px;
  }
  .mainblock .sidebar__logo img {
    display: none;
  }
  .mainblock .sidebar__link {
    padding: 10px;
  }
  .mainblock .sidebar__link span {
    display: none;
  }
  .mainblock .sidebar .btn-logout span {
    display: none;
  }
  .mainblock__body {
    margin: 0px 0px 0px 66px;
  }
}
@media (max-width: 991.98px) {
  .mainblock__header {
    font-size: 24px;
    text-align: left;
  }
}
@media (max-width: 805px) {
  .mainblock__content h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .mainblock__content .user-info {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media (max-width: 600px) {
  .wrapper .fog-image {
    width: 300%;
    left: -70%;
    bottom: -10%;
  }
  .wrapper .man-image {
    display: none;
  }
  .wrapper .woman-image {
    display: none;
  }
  .wrapper .container h1 {
    margin: 50px auto 180px;
  }
  .start-container h1 {
    font-size: 50px;
  }
  .start-container .modal-container {
    align-items: end;
  }
  .start-container .modal-container .modal {
    width: 90%;
  }
  .start-container .modal-container .modal__footer {
    font-size: 15px;
  }
  .start-container .modal-container .modal__footer span {
    padding-left: 15px;
  }
  .start-container .modal-container .modal__form {
    padding: 30px 0px;
  }
  .start-container .modal-container .modal__form .input-label {
    font-size: 16px;
    margin-bottom: 2px;
  }
  .start-container .modal-container .modal__form .form-error {
    margin-top: 10px;
    font-size: 12px;
  }
  .start-container .modal-container .modal__email, .start-container .modal-container .modal__password {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .start-container .modal-container .modal .modal-header {
    padding-top: 10px;
    font-size: 25px;
  }
  .start-container .modal-container .modal .successful-registration-block {
    font-size: 30px;
  }
  .start-container .modal-container .modal .successful-registration-block p {
    margin-bottom: 30px;
  }
  .start-container .modal-container .modal .successful-registration-block button {
    padding: 5px 10px;
    font-size: 16px;
  }
  .form-submit-login,
  .form-submit-register {
    max-width: 320px;
    padding: 5px 25px;
    font-size: 18px;
  }
}
@media (max-width: 479.98px) {
  .wrapper .container h1 {
    font-size: 50px;
  }
  .wrapper .btn-start {
    padding: 10px 25px;
  }
}/*# sourceMappingURL=media.css.map */