@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Playfair+Display&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Play";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Play";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  /*удаление скролла в Mozilla Firefox*/
  overflow-y: scroll;
  scrollbar-width: none;
}

body {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(16, 16, 16);
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.lock {
  overflow: hidden;
}

*:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {
  opacity: 0;
}

/* FF 4-18 */
*:focus::-moz-placeholder {
  opacity: 0;
}

/* FF 19-50 */
*:focus:-ms-input-placeholder {
  opacity: 0;
}

/* IE 10+ */
*:focus::placeholder {
  opacity: 0;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.wrapper .fog-image {
  position: absolute;
  max-width: 300px;
  width: 100%;
  left: -40%;
  bottom: -60%;
  z-index: 0;
  opacity: 0.8;
}
.wrapper .man-image {
  position: absolute;
  max-width: 460px;
  width: 100%;
  bottom: -8%;
  right: 100px;
  z-index: -1;
}
.wrapper .woman-image {
  position: absolute;
  max-width: 680px;
  width: 100%;
  bottom: -8%;
  left: -10%;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1452px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}

.header {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
}

.menu ul {
  display: flex;
}

.container {
  position: relative;
  z-index: 1;
}
.container .logo img {
  width: 150px;
  border-radius: 3px;
}
.container h1 {
  text-align: center;
  margin: 100px auto;
  font-size: 60px;
}
.container h1 span {
  display: block;
  transform: skewX(-10deg);
}
.container .button-start {
  transform: skewX(-10deg);
}
.container .modal {
  display: block;
  width: 400px;
  max-width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: rgba(44, 44, 44, 0.98);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.container .modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .modal__header img {
  max-width: 120px;
  border-radius: 3px;
}
.container .modal__footer {
  text-align: center;
  font-size: 18px;
}
.container .modal__footer span {
  text-decoration: underline;
  padding-left: 25px;
  cursor: pointer;
}
.container .modal__footer span:hover {
  text-decoration: none;
}
.container .modal__close {
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.container .modal__close img {
  max-width: 25px;
  width: 100%;
}
.container .modal__close:hover {
  transform: scale(1.15);
}
.container .modal__form {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0px 70px;
  display: flex;
  flex-direction: column;
}
.container .modal__form .input-label {
  font-size: 20px;
  margin-bottom: 10px;
}
.container .modal__email, .container .modal__password {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  background: none;
  color: rgb(255, 255, 255);
  transition: border-bottom 0.5s ease 0s;
}
.container .modal__email:focus, .container .modal__password:focus {
  border-bottom: 2px solid rgb(255, 255, 255);
}
.container .modal .modal-header {
  padding-top: 30px;
  font-size: 35px;
  text-align: center;
}
.container .modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}
.container .modal_closed {
  display: none;
}

.mainblock {
  font-family: "Manrope";
  height: 100%;
  padding: 15px 15px 15px 15px;
  background-color: rgba(44, 44, 44, 0.98);
}
.mainblock .sidebar {
  position: fixed;
  max-width: 240px;
  width: 100%;
  height: 95vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-right: 2px solid #CBD5E1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.mainblock .sidebar nav {
  margin: 0px 0px 100px 0px;
  width: 100%;
}
.mainblock .sidebar__logo {
  margin: 0px 0px 30px 0px;
}
.mainblock .sidebar__logo img {
  border-radius: 3px;
  width: 100%;
}
.mainblock .sidebar__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 22px;
  text-align: right;
  color: #475569;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.mainblock .sidebar__link.active, .mainblock .sidebar__link.active:hover {
  color: #FFFFFF;
  background-color: #F97316;
  transform: translateX(5%);
}
.mainblock .sidebar__link.active svg, .mainblock .sidebar__link.active:hover svg {
  display: inline-block;
}
.mainblock .sidebar__link.active svg path, .mainblock .sidebar__link.active:hover svg path {
  stroke: #FFFFFF;
  fill: #FFFFFF;
}
.mainblock .sidebar__link:hover {
  transform: translateX(5%);
  color: #FFFFFF;
  background-color: #e18215;
}
.mainblock .sidebar__link:hover svg path {
  stroke: #FFFFFF;
}
.mainblock .sidebar .btn-logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6px 15px;
  font-size: 22px;
  color: #FFFFFF;
  text-align: left;
  background-color: #F97316;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.mainblock .sidebar .btn-logout svg {
  max-width: 30px;
  width: 100%;
  fill: #ffffff;
}
.mainblock .sidebar .btn-logout:hover {
  color: #F97316;
  background-color: #F1F5F9;
}
.mainblock .sidebar .btn-logout:hover svg {
  fill: #475569;
}
.mainblock__body {
  margin: 0px 0px 0px 238px;
}
.mainblock__header {
  padding: 20px 0px 20px 20px;
  font-size: 35px;
  text-align: center;
  color: #475569;
  border-top-right-radius: 5px;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid #CBD5E1;
}
.mainblock__content {
  height: calc(95vh - 76.6px);
  padding: 40px;
  background-color: #F1F5F9;
  color: #475569;
  border-bottom-right-radius: 5px;
}
.mainblock__content h2 {
  font-size: 35px;
  margin-bottom: 20px;
}
.mainblock__content .user-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  grid-template-rows: repeat(2, 190px);
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.mainblock__content .user-info__block {
  position: relative;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
}
.mainblock__content .user-info__block.common-info {
  background-color: #06B6D4;
}
.mainblock__content .user-info__block.physical-info {
  background-color: #F97316;
}
.mainblock__content .user-info__block.medical-info {
  background-color: #BBF246;
}
.mainblock__content .user-info__block.training-info {
  background-color: #7C6DD7;
}
.mainblock__content .user-info__block.contacts-info {
  background-color: #86d76d;
}
.mainblock__content .user-info__block.achievements-info {
  background-color: #22D3EE;
}
.mainblock__content .user-info__block h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
.mainblock__content .user-info__block img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.mainblock__content .user-info__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
}
.mainblock__content .user-info__content .name-block,
.mainblock__content .user-info__content .birthday-block,
.mainblock__content .user-info__content .gender-block,
.mainblock__content .user-info__content .weight-block,
.mainblock__content .user-info__content .height-block,
.mainblock__content .user-info__content .medical-block,
.mainblock__content .user-info__content .goal-block,
.mainblock__content .user-info__content .contact-block,
.mainblock__content .user-info__content .achievements-block {
  display: flex;
  justify-content: space-between;
}

.btn-start {
  position: relative;
  display: flex;
  max-width: 320px;
  padding: 10px 45px;
  margin: 0 auto;
  font-family: "Play";
  font-size: 40px;
  color: white;
  background: #e18215;
  transition: all 1s ease 0s;
  box-shadow: 6px 6px 0 black;
}
.btn-start:focus {
  outline: none;
}
.btn-start:hover {
  transition: all 0.5s ease 0s;
  box-shadow: 10px 10px 0 #ffffff;
}
.btn-start span:nth-child(2) {
  transition: all 0.5s ease 0s;
  margin-right: 0px;
}
.btn-start:hover span:nth-child(2) {
  transition: all 0.5s ease 0s;
  margin-right: 45px;
}
.btn-start span {
  text-transform: uppercase;
}
.btn-start span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}
.btn-start path.one {
  transition: all 0.4s ease 0s;
  transform: translateX(-60%);
}
.btn-start path.two {
  transition: all 0.5s ease 0s;
  transform: translateX(-30%);
}
.btn-start:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}
.btn-start:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}
.btn-start:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

.form-submit-login,
.form-submit-register {
  display: flex;
  max-width: 320px;
  padding: 10px 45px;
  margin: 0 auto;
  font-size: 25px;
  color: white;
  background: #e18215;
  border-radius: 8px;
  transition: all 1s ease 0s;
  box-shadow: 4px 4px 0 black;
  cursor: pointer;
}
.form-submit-login:hover,
.form-submit-register:hover {
  transition: all 0.5s ease 0s;
  box-shadow: 5px 5px 0 #ffffff;
}

.hide {
  display: none;
}

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #FBC638;
  }
  100% {
    fill: white;
  }
}
@media (max-width: 1220px) {
  .wrapper .man-image {
    bottom: -3%;
    right: 0;
  }
  .wrapper .woman-image {
    left: -15%;
  }
  .wrapper .container h1 {
    margin: 100px auto 180px;
  }
}
@media (max-width: 767.98px) {
  .wrapper .fog-image {
    max-width: 300px;
    width: 100%;
    left: -40%;
    bottom: -60%;
  }
}
@media (max-width: 600px) {
  .wrapper .fog-image {
    max-width: 300px;
    width: 100%;
    left: -40%;
    bottom: -60%;
  }
  .wrapper .man-image {
    max-width: 260px;
    right: 20%;
  }
  .wrapper .woman-image {
    left: -40%;
  }
  .wrapper .container h1 {
    margin: 50px auto 180px;
  }
}
@media (max-width: 479.98px) {
  .wrapper .fog-image {
    max-width: 300px;
    width: 100%;
    left: -40%;
    bottom: -60%;
  }
  .wrapper .man-image {
    display: none;
  }
  .wrapper .woman-image {
    left: -50%;
  }
  .wrapper .container h1 {
    font-size: 50px;
  }
  .wrapper .btn-start {
    padding: 10px 25px;
  }
}/*# sourceMappingURL=style.css.map */