$minwidth: 320px;
$mw: 1024;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//==================================

@media (max-width: 1300px) {
   .mainblock {
      &__content {
         .user-info {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
         }
      }
   }
}

@media (max-width: 1220px) {
   .wrapper {
      .man-image {
         bottom: -3%;
         right: 0;
      }

      .woman-image {
         left: -15%;
      }

      .fog-image {
         left: -20%;
         bottom: -20%;
      }

      .container h1 {
         margin: 100px auto 180px;
      }
   }
}

@media (max-width: $md1+px) {
   .mainblock {

      .sidebar {
         width: 66px;
         padding: 5px;

         nav {
            margin: 0px 0px 0px 0px;
         }

         &__logo {
            margin: 0px 0px 30px 0px;

            img {
               display: none;
            }
         }

         &__link {
            padding: 10px;

            span {
               display: none;
            }
         }

         .btn-logout {

            span {
               display: none;
            }
         }
      }

      &__body {
         margin: 0px 0px 0px 66px;
      }
   }
}

@media (max-width: $md2+px) {
   .mainblock {
      &__header {
         font-size: 24px;
         text-align: left;
      }
   }
}

@media (max-width: 805px) {
   .mainblock {
      &__content {

         h2 {
            font-size: 25px;
            margin-bottom: 30px;
         }

         .user-info {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
         }
      }
   }
}

@media (max-width: $md3+px) {}

@media (max-width: 600px) {
   .wrapper {
      .fog-image {
         width: 300%;
         left: -70%;
         bottom: -10%;
      }

      .man-image {
         display: none;
      }

      .woman-image {
         display: none;
      }

      .container h1 {
         margin: 50px auto 180px;
      }
   }

   .start-container {
      h1 {
         font-size: 50px;
      }

      .modal-container {
         align-items: end;

         .modal {
            width: 90%;

            &__footer {
               font-size: 15px;

               span {
                  padding-left: 15px;
               }
            }

            &__form {
               padding: 30px 0px;

               .input-label {
                  font-size: 16px;
                  margin-bottom: 2px;
               }

               .form-error {
                  margin-top: 10px;
                  font-size: 12px;
               }
            }

            &__email,
            &__password {
               padding: 10px;
               margin-bottom: 10px;

               font-size: 16px;
            }

            .modal-header {
               padding-top: 10px;
               font-size: 25px;
            }

            .successful-registration-block {
               font-size: 30px;

               p {
                  margin-bottom: 30px;
               }

               button {
                  padding: 5px 10px;
                  font-size: 16px;
               }
            }
         }
      }
   }

   .form-submit-login,
   .form-submit-register {
      max-width: 320px;
      padding: 5px 25px;

      font-size: 18px;
   }
}

@media (max-width: $md4+px) {
   .wrapper {

      .container h1 {
         font-size: 50px;
      }

      .btn-start {
         padding: 10px 25px;
      }
   }
}